transition: 0.3s;
}

.career-menu button:hover {
    transform: translateY(-5px);

    background: #17212c;

    border-color: #087cff;
}

/* =========================
   FOOTER
========================= */

footer {
    padding: 25px;

    text-align: center;

    color: #667484;

    background: #06080c;

    border-top: 1px solid rgba(255,255,255,0.06);

    font-size: 13px;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 900px) {

    .features,
    .stats-grid {
        grid-template-columns:
            repeat(2, 1fr);
    }

    .player-header {
        grid-template-columns:
            1fr;

        text-align: center;
    }

    .player-avatar {
        margin: auto;
    }

    .overall-box {
        margin: auto;
    }
}

@media (max-width: 650px) {

    .header {
        padding: 0 20px;
    }

    .logo {
        font-size: 17px;
    }

    .season {
        font-size: 11px;
    }

    .features,
    .stats-grid,
    .career-menu,
    .player-form {
        grid-template-columns: 1fr;
    }

    .player-form {
        padding: 22px;
    }

    .page-title h1 {
        font-size: 30px;
    }

    .player-info h1 {
        font-size: 30px;
    }

    .form-actions {
        grid-column: auto;
    }
}
